/* @import url("https://use.typekit.net/jmk3xov.css"); */
@font-face {
  font-family: 'Proxy Mono';
  src: url('https://assets.website-files.com/603fe89ec4bbcece7ee6a53a/609143480cd89b3be3376889_Proxy_Mono_Beta-Regular_Beta.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('https://assets.website-files.com/603fe89ec4bbcece7ee6a53a/609143488741bfa948a64e94_GTAmerica-ExpandedBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Theinhardt Pan';
  src: url('https://assets.website-files.com/603fe89ec4bbcece7ee6a53a/60914865c40b240aebc6ecb8_TheinhardtPan-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Theinhardt Pan';
  src: url('https://assets.website-files.com/603fe89ec4bbcece7ee6a53a/60914865129b85642c446025_TheinhardtPan-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nbarchitektstdneue';
  src: url('https://assets.website-files.com/603fe89ec4bbcece7ee6a53a/60be42fa21f1647081a0f552_NBArchitektStdNeue-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nbarchitektstdneue';
  src: url('https://assets.website-files.com/603fe89ec4bbcece7ee6a53a/60be42fa843fa8114e5161f9_NBArchitektStdNeue-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: 'Theinhardt Pan', sans-serif;
  color: #bbb9b9;
  font-size: 1.125vw;
  line-height: 1.5vw;
  font-weight: 400;
  letter-spacing: -.02em
}

h1 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1vw;
  padding-left: 0;
  font-family: 'Proxy Mono', sans-serif;
  font-size: 14vw;
  line-height: 14vw;
  font-weight: 400;
  letter-spacing: -.05em;
  text-transform: uppercase
}


.h-h1 {
  margin-left: -1vw;
  font-size: 16.5vw;
  line-height: 16vw
}

.h-h1.gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(rgba(32, 19, 19, 0)));
  background-image: linear-gradient(180deg, #494949, rgba(32, 19, 19, 0));
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%
}

.h-h1.gradient.contact {
  font-size: 15.5vw
}

.h-h1.look {
  margin-left: 0;
  padding-right: .5vw;
  font-size: 4vh;
  line-height: 4vh
}

.h-h1.product {
  margin-left: -1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-family: 'Proxy Mono', sans-serif;
  font-size: 6vw;
  line-height: 4vw;
  font-weight: 400;
  text-transform: uppercase
}

.h-h1.hero-home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(hsla(0, 0%, 61.2%, 0)));
  background-image: linear-gradient(180deg, #494949, hsla(0, 0%, 61.2%, 0));
  font-size: 12vw;
  line-height: 11vw;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
/* font-family: brandon-grotesque, sans-serif; */
  font-weight: 400;
  font-style: normal;
}

  main {
    width: 100vw;
    color: white;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  h1, h2, h3, blockquote {
    font-weight: 700;
    font-style: normal;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }
