html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000000;
}

a {
  background-color: transparent;
  color: #bbb9b9;
  text-decoration: none
}

a:active, a:hover {
  outline: 0
}

body.mindmap {
  overflow: hidden;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  /* font-family: Metropolis, sans-serif; */
  font-family: fort, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mindmap .scene-container {
  width: 100%;
  height: 100%;
}

.mindmap .scene-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.mindmap .org-icon {
  z-index: 9999;
  opacity: 1;
  position: absolute;
  right: 0;
}

.mindmap .lil-gui.root {
  display: flex;
  flex-direction: column;
  width: var(--width, 245px);
}

.mindmap .lil-gui {
  max-width: 16vw;
  backdrop-filter: blur(2PX);
  box-sizing: border-box;
  max-height: 100%;
  position: fixed;
  left: 2vw;
  bottom: 4vw;
  z-index: 1001;
  line-height: 1.5rem;
  padding: 0.5vw 1vw 1vw;
  --background-color: #1f1f1f;
  --text-color: #ebebeb;
  --title-background-color: #111;
  --title-text-color: #ebebeb;
  --widget-color: #424242;
  --hover-color: #4f4f4f;
  --focus-color: #595959;
  --number-color: #2cc9ff;
  --string-color: #a2db3c;
  --font-size: 11px;
  --input-font-size: 11px;
  --font-family: fort, sans-serif;
  /*-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;*/
  --font-family-mono: Menlo, Monaco, Consolas, "Droid Sans Mono", monospace;
  --padding: 4px;
  --spacing: 4px;
  --widget-height: 20px;
  --name-width: 45%;
  --slider-knob-width: 2px;
  --slider-input-width: 27%;
  --color-input-width: 27%;
  --slider-input-min-width: 45px;
  --color-input-min-width: 45px;
  --folder-indent: 7px;
  --widget-padding: 0 0 0 3px;
  --widget-border-radius: 2px;
  --checkbox-size: calc(var(--widget-height)*0.75);
  --scrollbar-width: 5px;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

.mindmap .lil-gui .children {
  margin-top: 4px;
}

.mindmap .lil-gui .btn {
  display: block;
  margin: 2px 0;
  color: #bbb9b9;
  /* background-color: var(--focus-color); */
  border: solid 1px var(--focus-color);
  padding: 1px 6px;
  cursor: pointer;
}

.mindmap .lil-gui .nav-info-container {
  margin: 0.5vw 0 1vw 0;
}

.mindmap .lil-gui .nav-info {
  color: #bbb9b9;
}

.mindmap .node-label {
  user-select: none;
  color: rgba(0, 0, 0, 0.6);
  /* text-shadow: 0 0 10px rgb(227 228 228 / 95%); */
  /*0 0 10px rgb(189 216 216 / 95%);*/
  /* font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
  font-family: "Theinhardt Pan", sans-serif */
  font-family: fort, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mindmap .node-label.large {
  font-size: 1.5rem;
}

.mindmap .node-label.small {
  font-size: 0.8rem;
}

.mindmap #info {
  text-align: left;
  position: absolute;
  top: 3vw;
  width: 100%;
  line-height: 0.1rem;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 999;
  opacity: 1;
}

.mindmap #info div {
  padding: 10px;
  font-size: 1.8rem;
  line-height: 1rem;
}

.mindmap .shadow {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 10px rgb(189 216 216 / 95%);
}

.mindmap .col {
  display: inline-block;
}

.mindmap .footer {
  z-index: 999;
  padding: 0 2vw 0.5vw;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0vw;
}

.mindmap .colophon {
  font-size: 0.6rem !important;
}

.mindmap .lil-gui.autoPlace {
  top: 100px;
}

.mindmap .h-h4.disclaimer.bold.endless {
  font-size: .7rem !important;
}

button.active {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  box-shadow: 0 0 10px rgb(189 216 216 / 95%);
}

button {
  margin-bottom: 0.5rem !important;
  background: transparent;
  outline: 1px solid rgba(255, 255, 255, 0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.6rem;
  color: #bbb9b9;
  border: solid 1px var(--focus-color);
  padding: 1px 6px;
  line-height: 1.2;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.node-label {
  color: #404040 !important;
  font-family: 'URWDIN-Thin', sans-serif;
  font-weight: 500;
}
